<div class="card d-flex flex-row justify-content-center align-items-center gap-3 px-3" style="width:24rem; height: 7rem; overflow-x:scroll">
  <% (0..5).each do %>
    <%= render 'stories/story' %>
  <% end %>
</div>
