<div class="modal-body">
  <% story.images.each_with_index do |image, index| %>
    <a href="#" data-bs-toggle="modal" data-bs-target="#story<%=story.id%>ModalToggle">
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="height: 40rem;">
        <%= image_tag image, class: "d-block w-100 " %>
      </div>
    </a>
  <% end %>
</div>
