<div class="modal fade" id="post<%=post.id%>ModalToggle" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="postModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <% post.images.each_with_index do |image, index| %>
        <a href="#" data-bs-toggle="modal" data-bs-target="#postModalToggle">
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="height: 25rem;">
            <%= image_tag image, class: "d-block w-100" %>
          </div>
        </a>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
