/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';
@import 'custom';
@import "font-awesome";
@import "filepond";

.body-room{
  overflow: hidden;
}

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

#single_room {
  height: calc(100vh - 150px);
}

#messages {
  height: calc(100vh - 150px);
  flex: 1;
  overflow-y: auto;
}

#room_container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;//tiene que ser auto
  margin-right: 0px !important;
  padding-bottom: 400px;
}

#side_panel {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 56px;
  border-right: 1px solid #e6e6e6;
}

#chatroom_container{
  height: 100vh;
  margin-right: 0px !important;
}

#msg-content{
  width: 80%;
  margin-right: 5px;
}

.message-box{
  position: relative;
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}

.message-time {
  position: absolute;  /* take the time out of the flow and position according to the closest relative/absolute/fixed container */
  bottom: 0;           /* push it to the bottom */
  right: 0;            /* push it to the right */
  font-size: 0.8rem;   /* optional: reduce the font-size a bit if you want */
  padding-right: 3px;
}
